@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
      
@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoUltraBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoUltraBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}