@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
      
@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoUltraBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
      src: url('/static/fonts/trueno/TruenoUltraBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
      

body {
  font-family: "Trueno", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.main-container {
  min-height: 100vh;
}

.shimmer {
  animation: placeHolderShimmer 1s infinite;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.07) 8%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.07) 33%);
  background-size: 200% 100px;
  background-attachment: fixed;
}
p.shimmer,
span.shimmer,
.shimmer.card-title,
.shimmer.btn {
  color: transparent;
  background: none;
  border: none;
}
p.shimmer::before,
span.shimmer::before,
.shimmer.card-title::before,
.shimmer.btn::before {
  animation: placeHolderShimmer 1s infinite;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.07) 8%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.07) 33%);
  background-size: 200% 100px;
  background-attachment: fixed;
  color: transparent;
  display: inline;
  line-height: 2em;
}
.shimmer.card-title::before {
  content: "Comparison";
}
span.shimmer::before {
  content: "For we dare not class ourselves or compare ourselves with those who commend themselves. ";
}
p.shimmer::before {
  content: "But they, measuring themselves by themselves, and comparing themselves among themselves, are not wise.";
}
.shimmer.btn::before {
  content: "Let's do it!";
}
@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
